<app-navigation-bar></app-navigation-bar>
<div class="container">
  <div class="form-inline pt-3">
    <label class="mr-3" for="name">Group name:</label>
    <input [(ngModel)]="name" class="form-control mr-3" id="name" name="name" placeholder="Name" type="text">
    <button (click)="create()" class="btn my-btn">Create</button>
  </div>
  <div *ngIf="groups.length!==0;else empty">
    <div class="row pt-4">
      <div *ngFor="let group of groups">
        <div (click)="navigate(group.userGroups.id)" class="card my-pointer">
          <div class="card-body">
            <div>
              Group Name : {{group.userGroups.name}}
            </div>
            <div>
              Group Owner : {{group.userGroups.owner.name}}
            </div>
            <div>
              Group Members : {{group.userGroups.size}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #empty>
    <h1>OOps!! You dont have any groups, why don't you create some</h1>
  </ng-template>
</div>
