<app-navigation-bar></app-navigation-bar>
<div class="d-flex">
  <div class="col-3">
    <div class="mt-3 px-4 my-border">
      <table class="table my-pointer">
        <tr>
          <td (click)="edit()">Edit Profile</td>
        </tr>
        <tr>
          <td routerLink="/my-posts">My Posts</td>
        </tr>
        <tr>
          <td routerLink="/my-groups">My Groups</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-9">
    <div class="mt-3 px-4">
      <h3 class="text-center pb-2 fd">Hello there, {{shortName}}</h3>
      <div class="d-flex justify-content-center pb-4">
        <div class="my-text pr-4 my-pointer" (click)="navigate()">
          Subscribers {{subscribers.length}}
        </div>
        <div class="my-text my-pointer" (click)="navigate()">
          Subscriptions {{subscriptions.length}}
        </div>
      </div>
      <div class="d-flex flex-column align-items-center justify-content-center">
        <div *ngIf="invalid">
          <div class="font-weight-bold text-danger">
            All Fields are mandatory
          </div>
        </div>
        <div *ngIf="short">
          <div class="text-danger font-weight-bold">Password should be at least 6 characters</div>
        </div>
        <form class="was-validated">
          <div class="form-group">
            <label class="format-text" for="name">Full Name:</label>
            <input [(ngModel)]="name" [disabled]="!isEditable" [ngModelOptions]="{standalone: true}" [required]="true"
                   class="form-control"
                   id="name" type="text">
            <div class="invalid-feedback">Enter your name</div>
          </div>
          <div class="form-group">
            <label class="format-text" for="email">Email:</label>
            <input [(ngModel)]="email" [disabled]="!isEditable" [required]="true" class="form-control" id="email"
                   name="email"
                   type="email">
            <div class="invalid-feedback">Enter your email</div>
          </div>
          <div class="form-group">
            <label class="format-text" for="password">Password:</label>
            <input [(ngModel)]="password" [disabled]="!isEditable" [minLength]="6" [ngModelOptions]="{standalone: true}"
                   [required]="true" class="form-control" id="password"
                   type="password">
            <div class="invalid-feedback">Enter password of min 6 characters</div>
          </div>
        </form>
        <div class="d-flex justify-content-center">
          <div *ngIf="isEditable" class="pr-5">
            <button (click)="update()" class="btn" type="submit">Save</button>
          </div>
          <div>
            <button (click)="delete()" class="btn" type="submit">Delete Account</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
x
