<app-navigation-bar></app-navigation-bar>
<div class="container d-flex flex-column justify-content-center my-width">
  <div>
    <h1 class="fl fe fd cn pt-4">{{post.title}}</h1>
  </div>
  <div>
    <div class="text-muted my-text pb-1">{{post.description}}</div>
  </div>
  <div class="d-flex align-items-center pb-1">
    <div class="pr-2">Contributed by: <a href="#">{{post.author.name}}</a></div>
    <div *ngIf="post.author.id !== user.id">
      <div *ngIf="isSubscribed; else follow">
        <button class="btn btn-sm my-btn-2 text-muted" (click)="unsubscribe(post.author.id)">Unsubscribe</button>
      </div>
      <ng-template #follow>
        <button class="btn btn-sm my-btn-2 text-muted" (click)="subscribe(post.author.id)">Subscribe</button>
      </ng-template>
    </div>
  </div>
  <div>
    <div class="pb-1 text-muted">{{post.date|date:'mediumDate'}}</div>
  </div>
  <div class="d-flex justify-content-center pb-4">
    <img [src]="post.image" [alt]="post.title" class="my-image">
  </div>
  <div class="pb-4">
    {{post.content}}
  </div>
  <div class="form-group pb-5">
    <div class="font-weight-bold my-text pb-2">
      Add a Comment:
    </div>
    <div class="pb-2">
      <textarea class="form-control no-resize" rows="5" placeholder="Comment" name="comment"
                [(ngModel)]="content"></textarea>
    </div>
    <div class="pb-3">
      <button class="btn my-btn" (click)="addComment()">Post Comment</button>
    </div>
    <div *ngIf="comments.length!=0" class="font-weight-bold my-text">
      Comments:
    </div>
    <div *ngFor="let comment of comments">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-1 pr-0">
              <i class="material-icons">
                account_circle
              </i>
            </div>
            <div class="col-8 pl-0">
              <div class="font-weight-bold">
                {{comment.user.name}}
              </div>
              <div class="text-muted">
                {{comment.date|date:'mediumDate'}}
              </div>
              <div>
                {{comment.content}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
