.fd {
  font-family: medium-content-title-font, Georgia, Cambria, "Times New Roman", Times, serif;
}

.title {
  font-size: 1.35rem;
  font-weight: 700;
}

.my-img {
  width: 10rem;
  height: 10rem;
}

.desc-text {
  color: grey;
}
