<app-navigation-bar></app-navigation-bar>
<div class="container pt-4">
  <div>
    <h3 class="fd text-center">{{user.name}}</h3>
  </div>
  <div class="text-center pb-3">
    Email: {{user.email}}
  </div>
  <div class="fd">
    <h5>Posts By {{user.name}}</h5>
    <div *ngFor="let post of posts">
      <div class="card border-0 my-pointer pb-3" (click)="navigate(post.id)">
        <div class="d-flex card-body">
          <div class="d-flex flex-column pr-5">
            <div class="text-muted">
              {{post.category.toUpperCase()}}
            </div>
            <div class="title">
              {{post.title}}
            </div>
            <div class="desc-text">
              {{post.description}}
            </div>
            <div>
              Contributed by : {{post.author.name}}
            </div>
            <div class="text-muted">
              {{post.date|date:'mediumDate'}}
            </div>
          </div>
          <div>
            <img [src]="post.image" [alt]="post.title" class="my-img">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
