.my-pointer {
  cursor: pointer;
}

.pt {
  width: 159px;
  height: 145px;
}

.category-style:hover {
  border-bottom: 2px solid rgba(3, 168, 124, 1);
}

.fontSize1 {
  font-size: 50px;
}

.size {
  height: 400px;
  width: 400px;
}

.font {
  font-size: 30px;
  padding-top: 200px;
}
